<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
      <div class="page-header"> 
        <h5><b>ตรวจสอบข้อมูล BILL</b></h5>      <hr>
      </div>

      <!-- for test 4723101043320 -->
<!-- ============================ สแกนบาร์โค๊ด ============================ -->
      <div class="jumbotron">
        <form ngNativeValidate (ngSubmit)="searchBill()">
          <div class="row justify-content-md-center">          
            <div class="col-md-auto">
              <h5> สแกนบาร์โค๊ด BILL NO </h5>
            </div>
          </div>                                              

          <div class="row justify-content-md-center">
            <div class="col-md-4">
              <div class="form-group">
                <input #Inputbarcode type="text" name="barcode" class="form-control" [(ngModel)]="barcode.BILL_NO">
              </div>
            </div>
          </div>
        </form>                                                 

        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <button (click)="CLEAR()" class="btn btn-danger btn-sm">Clear</button>
          </div>
        </div>
      </div>
<!-- ============================ สแกนบาร์โค๊ด ============================ -->

<!-- ============================ ข้อมูล ============================ -->
<div class="card bg-light" [hidden]="hiddenDetail">    <br>
                <!-- =============== DATA =============== -->
  <div class="card-header bg-light">
    <div class="container">
      <div class="row" style="font-size: 14px">
        <div class="col">
          <div class="row"> 
            <b> 
              <span class="text-left">BILL DATE : </span>
              <span>&nbsp; {{bill_date}}</span>
            </b>     
          </div>                                                 <br> 
          <div class="row"> 
            <b> 
              <span>CUST NAME : </span>
              <span>&nbsp; {{cust_name}}</span>
            </b>
          </div>  
        </div>

        <div class="col">                                     
          <div class="row">
            <b> 
              <span>BILL N8 : </span>
              <span>&nbsp; {{bill_n8}}</span>
            </b>
          </div>                                                 <br> 
          <div class="row">
            <b> 
              <span class="text-left">STATUS : </span>
              <span>&nbsp; {{job_status}}</span>
            </b>
          </div>    
        </div>

        <div class="col">          
          <div class="row">
            <b>
              <span>BILL NO : </span>
              <span> &nbsp; {{bill_no}}</span>
            </b>
          </div>                                                 <br> 
          <div class="row">
            <b> 
              <span class="text-left">WORKER ID : </span>
              <span>&nbsp; {{worker}} {{name_user}}</span>
            </b>
          </div>
        </div>
       </div>
    </div>                                                        <br> 
  </div>                                             
                <!-- =============== TABLE =============== -->
  <div class="card bg-white mb-3">               
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-auto" style="font-size: 14px">
          <table class="table table-hover table-light table-bordered table-responsive">
            <tr class="bg-secondary text-white">
              <th class="text-center"><b>ITEM ID</b></th>
              <th class="text-center"><b>ITEM DESCRIPTION</b></th>
              <th class="text-center"><b>LOCATION</b></th>
              <th class="text-center"><b>QUANTITY</b></th>
            </tr> 
            <tr *ngFor='let detail of detail_Status; trackBy: index;let i= index'>
              <td class="text-left">{{detail.ITEM_ID}}</td>
              <td class="text-left">{{detail.ITEM_DESC}}</td>
              <td class="text-left">{{detail.LOCATION}}</td>
              <td class="text-left">{{detail.QTY}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- ============================ ข้อมูล ============================ -->
  </div>
</div>


<!-- for test 

BILL NO:4723101004123     STATUS:ยังไม่ถูกจัด   

BILL NO:4720101012493     STATUS:อยู่ในระหว่างการจัด

BILL NO:4720101010116     STATUS:จัดสินค้าเสร็จแล้ว

-->
