<div class="container">  <br> 
  <div class="row"> 
    <div class="col">    
      <div class="row"> 
        <h5> 
          &nbsp; &nbsp; <b>Date : {{Datenow}}</b>    &nbsp; &nbsp; &nbsp; &nbsp; 
          &nbsp; &nbsp; <b>Time : {{Timenow}}</b>
        </h5>
      </div>

      <h5 style="color:blue">
          <u><b>
            Job backlog 
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
          </b></u>
      </h5>
      <table class="table table-sm aa-table">        <!--///////// Table 1 /////////-->          
        <tr>
          <td>To be picked</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 999,999 -->  
          <td class="text-left">picks</td>
        </tr>
        <tr>
          <td>Picked</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 999,999 -->  
          <td class="text-left">picks</td>
        </tr>
        <tr>
          <td>% Picked</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 100 -->  
          <td class="text-left">bill</td>
        </tr>
        <tr>
          <td>no of bill</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 99,999 --> 
          <td class="text-left">shops</td>
        </tr>
        <tr>
          <td>no of Stores</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 9,999 --> 
          <td class="text-left">pieces</td>
        </tr>
        <tr>
          <td>no of QTY</td>
          <td class="text-right" style="color:crimson">   </td>      <!-- 999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
      </table>    <!--///////// Table 1 /////////-->

    <h5 style="color:blue">
        <u><b>
          Today picking 
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
        </b></u>
    </h5>
    <table class="table table-sm aa-table">     <!--============= Table 2 ============= -->
      <tbody>
        <tr>
          <td>To be picked</td>
          <td class="text-right" style="color:crimson">     </td>      <!-- 999,999 --> 
          <td class="text-left">picks</td>
        </tr>
        <tr>
          <td>Picked</td>
          <td class="text-right" style="color:crimson">     </td>      <!-- 999,999 --> 
          <td class="text-left">picks</td>
        </tr>
        <tr>
          <td>% Picked</td>
          <td class="text-right" style="color:crimson">     </td>          <!-- 100 --> 
          <td class="text-left">bill</td>
        </tr>
        <tr>
          <td>no of bill</td>
          <td class="text-right" style="color:crimson">      </td>      <!-- 99,999 --> 
          <td class="text-left">shops</td>
        </tr>
        <tr>
          <td>no of Stores</td>
          <td class="text-right" style="color:crimson">     </td>      <!-- 9,999 --> 
          <td class="text-left">pieces</td>
        </tr>
        <tr>
          <td>no of QTY</td>
          <td class="text-right" style="color:crimson">     </td>      <!-- 999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
      </tbody>   
    </table>      <!--============= Table 2 ============= -->

    <h5 style="color:blue">
        <u><b>
         Today stock
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
        </b></u>
    </h5>
    <table class="table table-sm aa-table">     <!--/+/+/+/+//+/+/+/+/+/ Table 3 /+/+/+/+//+/+/+/+/+/-->
      <tbody>
        <tr>
          <td> </td>
          <td class="text-right">       </td>            <!-- 9,999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
        <tr>
          <td>Fast moving</td>
          <td class="text-right">       </td>          <!-- 9,999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
        <tr>
          <td>Slow moving</td>
          <td class="text-right">       </td>          <!-- 9,999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
        <tr>
          <td>Non moving</td>
          <td class="text-right">       </td>          <!-- 9,999,999 --> 
          <td class="text-left">pieces</td>
        </tr>
      </tbody>   
    </table>
  </div>       <!--/+/+/+/+//+/+/+/+/+/ Table 3 /+/+/+/+//+/+/+/+/+/-->

&nbsp; &nbsp; &nbsp; 

  <div class="col"> 
    <div class="row"> 
        <h4>
            &nbsp;  &nbsp;<b>Wave</b> 
        </h4> 
    </div>

      <h5 style="color:blue">
        <u><b>
            Per Order
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp;  &emsp; 
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
        </b></u>
      </h5>
      <table class="table table-sm aa-table">    <!-- _._._._._._._ Table 4 _._._._._._ -->
        <tbody> 
          <tr>
            <td>To be picked</td>
            <td class="text-right">     </td>          <!-- 999,999 --> 
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>Picked</td>
            <td class="text-right">     </td>          <!-- 999,999 --> 
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>% Picked</td>
            <td class="text-right">     </td>               <!-- 100 --> 
            <td class="text-left">bill</td>
          </tr>
        </tbody>   
      </table>    <!-- _._._._._._._ Table 4_._._._._._._ -->

      <h5 style="color:blue">
        <u><b>
            Cash Sales
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp;  &emsp; 
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; 
        </b></u>
      </h5>
      <table class="table table-sm aa-table">    <!-- _._._._._._._ Table 5  _._._._._._ -->
        <tbody> 
          <tr>
            <td>To be picked</td>
            <td class="text-right">     </td>          <!-- 999,999 --> 
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>Picked</td>
            <td class="text-right">     </td>          <!-- 999,999 --> 
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>% Picked</td>
            <td class="text-right">     </td>          <!-- 100 --> 
            <td class="text-left">bill</td>
          </tr>
        </tbody>   
      </table>    <!-- _._._._._._._ Table 5 _._._._._._._ -->

      <h5 style="color:blue">
        <u><b>
            Sorter
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp;  &emsp; &nbsp; &nbsp; 
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp;  &emsp; 
        </b></u>
      </h5>
      <table class="table table-sm aa-table">    <!-- _._._._._._._ Table 6  _._._._._._ -->
        <tbody> 
          <tr>
            <td>To be picked</td>
            <td class="text-right">     </td>
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>Picked</td>
            <td class="text-right">     </td>
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>% Picked</td>
            <td class="text-right">     </td>
            <td class="text-left">bill</td>
          </tr>
        </tbody>   
      </table>    <!-- _._._._._._._ Table 6 _._._._._._._ -->

      <h5 style="color:blue">
        <u><b>
            Consolidate
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &nbsp;
          &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
        </b></u>
      </h5>
      <table class="table table-sm aa-table">    <!-- _._._._._._._ Table 7  _._._._._._ -->
        <tbody> 
          <tr>
            <td>To be picked</td>
            <td class="text-right">     </td>
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>Picked</td>
            <td class="text-right">     </td>
            <td class="text-left">picks</td>
          </tr>
          <tr>
            <td>% Picked</td>
            <td class="text-right">     </td>
            <td class="text-left">bill</td>
          </tr>
        </tbody>   
      </table>    <!-- _._._._._._._ Table 7 _._._._._._._ -->

      <div class="row" style="color:darkgray"> 
        &nbsp; &nbsp; &nbsp; Fast moving	มียอดขาย SO ในช่วง 1-60 วันที่ผ่านมา  
      </div>  
    
      <div class="row" style="color:darkgray">  
        &nbsp; &nbsp; &nbsp; Slow moving	มียอดขาย SO ในช่วง 61-120 วันที่ผ่านมา
      </div>  
    
      <div class="row" style="color:darkgray"> 
        &nbsp; &nbsp; &nbsp; Non moving	ไม่มียอดขายในช่วง 1-120 วันที่ผ่านมา   
      </div> 

    </div>
  </div>

<br> 



  <br> <br> <br> 

</div>