<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>
          <b>เลือกสถานะของ JOB</b>
        </h3>
        <p class="category"></p>
        <hr>
      </div>
      <div class="form-group">
        <div class="col-3">
          <div class="input-group">
            <span class="input-group-addon col-5">Status</span>
            <select class="form-control input-sm" id="STATUS_AA01" required name="STATUS">
              <option [value]="1">Print แล้ว</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
